body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*>>>>>>>>>>>> USER UPLOAD <<<<<<<<<<<<<<<<< */

#inputs {
  height: 50px;
  background-color: pink;
}

#render-userFile {
  height: 100px;
  font-weight: bold;
  background-color: indianred;
}

/*>>>>>>>>>>>>>>>> USER MODULE <<<<<<<<<<<<<<<< */

#user {
  margin-bottom: 20px;
  background-color: burlywood;
}

#current-show {
  text-align: center;
}

#user-session-show {
  text-align: center;
}

#user-login {
  font-family: 'Balthazar', serif;
  font-size: 1.25em;
}

.user-show {
  text-align: center;
  background-color: aquamarine;
}

#user-shows-list {
  margin-bottom: .25em;
}

/* >>>>>>> YUMMY SHOW PRESENTATION <<<<<<<<<<<< */

.the-show {
  height: 600px;
  background-color: navajowhite;
  border-radius: 2em;
}

#show-titleSlide-title {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 0.5em;
}

#show-titleSlide-title h1 {
  font-size: 6em;
}

#show-titleSlide-bullet-one h2 {
  font-size: 3em;
}

#show-titleSlide-bullet-two h2 {
  font-size: 1.5em;
}

#show-titleSlide-bullet-one, 
#show-titleSlide-bullet-two, 
#show-titleSlide-bullet-three {
  text-align: center;
}

#describe-yummy {
  background-color: lightblue;
}

.title-slideTitle h1 {
  font-size: 6em; 
}

.preview-title-slideTitle h1 {
  font-size: 6em; 
}

.title-sub-title h2 {
  font-size: 3em;
}

.slide-title {
  margin-top: 50px;
  margin-bottom: 75px;
}

/*.show-title-slide {
 height: 600px;
 background-color: linen;
 border-radius: 2em;
}*/



#make-slide-options {
  border: 1px solid black;
}

#slide-inputs {
 height: 600px;
 background-color: linen;
 border-radius: 2em;
}

#slide-inputs-chart {
 height: 600px;
 background-color: linen;
 border-radius: 2em;
}

#preview-slide-inputs {
 height: 600px;
 background-color: papayawhip;
 border-radius: 2em;
}

#chart-control {
  height: 30px;
}

.hot-bits {
  font-size: small;
}

#marketing-text {
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 2em;
}

#call-2-action {
  background-color: lightslategray;
  text-align: center;
  margin-bottom: 2em;
}

.current-show-plug {
  font-size: 1.5em;
  color: purple; 
}

/*.yummy-shows {
  border: 1px solid slategray;
}*/

#show-row {
/*  border: 1px solid slategray;*/
}

.text-slide h2, .chart-slide h2 {
  text-shadow: -3px -3px 5px #ffffff;
}

#create-chart {
  background-color: silver;
  margin-top: 2em;
  margin-bottom: 2em;
}

#create-text {
  background-color: lightblue;
  margin-top: 2em;
  margin-bottom: 2em;
}

#text-bullets, #chart-bullets {
  text-align: center;
}

#bullet-prompts {
  border: 1px solid black;
}

.navbar {
  margin-top: 0.5em;
}

/*body .navbar .brand {
  font-family: 'Spin Cycle OT';
  font-size: 3em;
  margin: 0.2em 0 0.1em 0;
  float: right;
}*/

#user {
  margin-top: .5em;
}

#user-row {
  margin: .5em 0;
}

#user-login {
  text-align: center;
  background-color: coral;
}

#all-user-shows {
  text-align: center;
  background-color: lawngreen;
}

#current-show {
  text-align: center;
  background-color: thistle;
}

#yummy-brand {
  text-align: center;
  font-family: 'Spin Cycle OT';
  font-size: 2em;
  float: right;
}

/*body #user .brand {
  font-family: 'Spin Cycle OT';
  font-size: 1.5em;*/
/*  margin: 0.2em 0 0.1em 0;*/
/*  text-align: right;*/
/*}*/

#slide-links {
  text-align: center;
  margin-bottom: 1em;
}

#slide-instruct {
  text-align: center;
  background-color: tomato;
  color: white;
  margin-bottom: 1em;
}

#create-show {
  margin-bottom: 2em;
}

/*.create-show-input {
  margin-bottom: 2em;
}*/

#create-show-input {
  width: 98%;
  height: 3em;
  text-align: center;
  font-size: 2em;
  color: black;
  box-shadow: 8px 8px 60px;
  border-radius: 0.25em; 
  border: 2px solid white; 
}

#create-show-input:hover {
  background-color: lightgray;
  color: white;
  box-shadow: inset 10px 10px 50px;
  border: 2px solid white;
  border-radius: 0.4em;
}

.current-show {
  text-shadow: 2px 2px #ff0000;
}

#session-show {
  background-color: yellow;
}

#start-this-show {
  background-color: teal;
  color: white;
  float: right;
  text-align: right;
}

#twitter-switch, .twitter h3 {
  text-align: center;
  background-color: pink; 
}

#bitcoin-switch, .bit-coins h3 {
  text-align: center;
  background-color: orange;
}

#bitly-switch, .bitly h3 {
  text-align: center;
  background-color: brown;
}

/* >>>>> TEXT SLIDES <<<<<<<<< */

#slide-inputs .slide-text {
  height: 2.5em;
  width: 99%;
  text-align: center;
  font-size: 2em;
  padding-top: 0.6em;
  background-color: white;
  color: black;
  border-radius: 0.5em;
  box-shadow: 3px 3px 25px;
}

/*#slide-text {
  color: white;
}*/

#slide-inputs .slide-text:hover {
  background-color: lightgray;
  color: white;
  box-shadow: inset 3px 3px 45px;
}

/*#title-slide-title {
  margin-top: 150px;
}*/

.slide-preview {
  margin-top: 0.5em;
  text-align: center;
  background-color: whitesmoke;
  height: 50em;
  border-radius: 1em;
}

#line-chart-nav {
  background-color: linen;
}

#bar-chart-nav {
  background-color: slateblue;
}

#bubble-chart-nav {
  background-color: coral;
}

.line-chart-options {
  text-align: center;
  background-color: silver;
}

.line-chart-data-sources {
  text-align: center;
  background-color: whitesmoke;
}

.make-start {
  text-align: center;
}

/* <<<<<<<< SLIDE ONE LIVE PREVIEW >>>>>>>>>>> */

#show-title h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 6em;
  margin-top: 50px;
  margin-bottom: 75px;
}

#show-bullet-one h2, #show-bullet-two h2, #show-bullet-three h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 4em;
}

.slide-one-title h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 6em;
  margin-top: 50px;
  margin-bottom: 75px;
}

.bullet-first-slide-one h2, .bullet-second-slide-one h2, .bullet-third-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 4em;
}

/*.bullet-second-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}

.bullet-third-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}*/

#slide-controls {
  text-align: center;
  height: 3em;  
  background-color: lightslategray;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#create-chart-sub {
  text-align: center;
  height: 3em;  
  background-color: indianred;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#create-text-sub {
  text-align: center;
  height: 3em;  
  background-color: goldenrod;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#edit-current-slide {
  text-align: center;
  height: 3em;  
  background-color: mediumseagreen;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#img-back-upload {
  text-align: center;
  height: 3em;  
  background-color: powderblue;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#bar-chart-switch {
  background-color: peru;
  color: white;
  text-align: center;
  height: 3em; 
  font-size: 1.5em;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#bubble-chart-switch {
  background-color: olive;
  color: white;
  text-align: center;
  height: 3em; 
  font-size: 1.5em;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#save-bitly-slide, 
#save-bitcoin-slide, 
#save-userfile-slide {
  text-align: center;
  height: 3em;  
  background-color: chocolate;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#saved-slide {
  background-color: mediumseagreen;
  color: white;
}

.input-action-call {
  text-align: center;
  font-style: italic;
}

.make-second-slide {
  height: 1em;  
/*  margin: 5 40px;*/
  background-color: gray;
/*  padding-top: 1.5em;
  font-size: 1.5em;*/
}


.saved-slide-preview {
  text-align: center;
  background-color: oldlace;
  border-radius: 3em;
  height: 600px;
}

.slide-inputs .slide-one-title {
  font-size: 1.5em;
  text-align: center;
}

.title-slide-title {
  margin-top: 200px;
  margin-bottom: 2em;
}

#preview-slide-inputs .preview-title-slideTitle {
  margin-top: 200px;
  margin-bottom: 2em;
}

.slide-inputs .title-slide-title {
  font-size: 1.5em;
  text-align: center;
}

#bullet-one, #bullet-two, #bullet-three {
  margin-top: 1.5em;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

/*.chart rect {
  fill: steelblue;
  stroke: white;
}*/

.chart {
  margin-left: 200px;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#container {
    width: 1000px;
    margin: 0 auto;    
}

.price {
    cursor: pointer;
    padding: 5px;
}

.price .spot_price {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.price .amount {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .currency {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .date {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: italic;
    color: #777;
}

/*body {
  font: 10px sans-serif;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: black;
  stroke: red;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
/* CSS declarations go here */

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      padding-top: 25px;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: red;
      color: black;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 400px;
      opacity: 0.70;
    }

    .carousel-caption {
      background-color: #000000 transparent;
      position: static;
      max-width: 550px;
      padding: 20px 20px 30px 20px;
      margin-top: 200px;
      margin-left: 60px;
      border-radius: 20px;
/*      z-index: 11;*/
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: red;
    /*  color: #fff;*/
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption h1 {
      font-family: arial; 
      /*font-family: 'Rock Salt', cursive;*/
      margin-bottom: 10px;
    }

    .carousel-caption .lead {
      font-family: 'Metrophobic', sans-serif;
      padding-top: 10px;
    }

    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 35%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
