body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hot-bits {
  font-size: small;
}

#marketing-text {
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 2em;
}

#call-2-action {
  background-color: lightslategray;
  text-align: center;
  margin-bottom: 2em;
}

.current-show-plug {
  font-size: 1.5em;
  color: purple; 
}

/*.yummy-shows {
  border: 1px solid slategray;
}*/

#show-row {
/*  border: 1px solid slategray;*/
}

.text-slide h2, .chart-slide h2 {
  text-shadow: -3px -3px 5px #ffffff;
}

#create-chart {
  background-color: silver;
  margin-top: 2em;
  margin-bottom: 2em;
}

#create-text {
  background-color: lightblue;
  margin-top: 2em;
  margin-bottom: 2em;
}

#text-bullets, #chart-bullets {
  text-align: center;
}

#bullet-prompts {
  border: 1px solid black;
}

.navbar {
  margin-top: 0.5em;
}

body .navbar .brand {
  font-family: 'Spin Cycle OT';
  font-size: 3em;
  margin: 0.2em 0 0.1em 0;
}

#slide-links {
  text-align: center;
  margin-bottom: 1em;
}

#slide-instruct {
  text-align: center;
  background-color: tomato;
  color: white;
  margin-bottom: 1em;
}

#create-show {
  margin-bottom: 2em;
}

/*.create-show-input {
  margin-bottom: 2em;
}*/

#create-show-input {
  width: 98%;
  height: 3em;
  text-align: center;
  font-size: 2em;
  color: black;
  box-shadow: 8px 8px 60px;
  border-radius: 0.25em; 
  border: 2px solid white; 
}

#create-show-input:hover {
  background-color: lightgray;
  color: white;
  box-shadow: inset 10px 10px 50px;
  border: 2px solid white;
  border-radius: 0.4em;
}

.current-show {
  text-shadow: 2px 2px #ff0000;
}

#session-show {
  background-color: yellow;
}

#start-this-show {
  background-color: teal;
  color: white;
  float: right;
  text-align: right;
}

#twitter-switch, .twitter h3 {
  text-align: center;
  background-color: pink; 
}

#bitcoin-switch, .bit-coins h3 {
  text-align: center;
  background-color: orange;
}

#bitly-switch, .bitly h3 {
  text-align: center;
  background-color: brown;
}

/* >>>>> TEXT SLIDES <<<<<<<<< */

#slide-inputs .slide-text {
  height: 2.5em;
  width: 99%;
  text-align: center;
  font-size: 2em;
  padding-top: 0.6em;
  background-color: white;
  color: black;
  border-radius: 0.5em;
  box-shadow: 3px 3px 25px;
}

/*#slide-text {
  color: white;
}*/

#slide-inputs .slide-text:hover {
  background-color: lightgray;
  color: white;
  box-shadow: inset 3px 3px 45px;
}

.slide-preview {
  margin-top: 0.5em;
  text-align: center;
  background-color: whitesmoke;
  height: 50em;
  border-radius: 1em;
}

#line-chart-nav {
  background-color: linen;
}

#bar-chart-nav {
  background-color: slateblue;
}

#bubble-chart-nav {
  background-color: coral;
}

.line-chart-options {
  text-align: center;
  background-color: silver;
}

.line-chart-data-sources {
  text-align: center;
  background-color: whitesmoke;
}

.make-start {
  text-align: center;
}

/* <<<<<<<< SLIDE ONE LIVE PREVIEW >>>>>>>>>>> */

.slide-one-title h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 6em;
}

.bullet-first-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}

.bullet-second-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}

.bullet-third-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}

#slide-controls {
  text-align: center;
  height: 3em;  
  background-color: lightslategray;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#create-chart-sub {
  text-align: center;
  height: 3em;  
  background-color: indianred;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#create-text-sub {
  text-align: center;
  height: 3em;  
  background-color: goldenrod;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#img-back-upload {
  text-align: center;
  height: 3em;  
  background-color: powderblue;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#bar-chart-switch {
  background-color: peru;
  color: white;
  text-align: center;
  height: 3em; 
  font-size: 1.5em;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#bubble-chart-switch {
  background-color: olive;
  color: white;
  text-align: center;
  height: 3em; 
  font-size: 1.5em;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#save-bitly-slide, #save-bitcoin-slide {
  text-align: center;
  height: 3em;  
  background-color: chocolate;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.75em;
  border-radius: 0.75em;
}

#saved-slide {
  background-color: mediumseagreen;
  color: white;
}

.input-action-call {
  text-align: center;
  font-style: italic;
}

.make-second-slide {
  height: 1em;  
/*  margin: 5 40px;*/
  background-color: gray;
/*  padding-top: 1.5em;
  font-size: 1.5em;*/
}


.saved-slide-preview {
  text-align: center;
  background-color: silver;
  border-radius: 3em;
}

.slide-inputs .slide-one-title {
  font-size: 1.5em;
  text-align: center;
}

#bullet-one, #bullet-two, #bullet-three {
  margin-top: 1.5em;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

/*.chart rect {
  fill: steelblue;
  stroke: white;
}*/

.chart {
  margin-left: 200px;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#container {
    width: 1000px;
    margin: 0 auto;    
}

.price {
    cursor: pointer;
    padding: 5px;
}

.price .spot_price {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.price .amount {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .currency {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .date {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: italic;
    color: #777;
}

/*body {
  font: 10px sans-serif;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: black;
  stroke: red;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
/* CSS declarations go here */
