body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
*/
#container {
    width: 1000px;
    margin: 0 auto;    
}

.price {
    cursor: pointer;
    padding: 5px;
}

.price .spot_price {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.price .amount {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .currency {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .date {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: italic;
    color: #777;
}

.top_nav {
/*  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-left: 10px;
  position: relative;*/
  width: 200px;
  height: 45px;
  background-color: #33485C;
  color: #DDDDDD;
  font-family: 'Arial';
/*  margin: 2px 5px 2px auto;*/
/*  margin-top: 25px;*/
  border-radius: 8px;
  font-size: 1.5em;
  box-shadow: -1px 1px 3px;
  border: 1px solid white;
}


/*body {
  font: 10px sans-serif;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
/* CSS declarations go here */
