
/* >>>>>>> COLOR PALETTE <<<<<<<<<<<
  rgba(255, 177, 0, .75); ORANGE
  rgba(20, 53, 173, .75); BLUE
  rgba(213, 0, 101, 0.5); REDDISH
  rgba(142, 235, 0, 0.5); GREEN
  rgba(192, 192, 192, 0.5); SILVERY

  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    background-color: rgba(220, 220, 220, 0.5);
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* >>>>>>>>>>>>>>> TOOL TIPS <<<<<<<<<<<<<<< */
/*
#slide-inputs-chart-bitly-bubble .bub-text {
  color: white;
}
*/

#circles .bub-text {
  color: white;
}

#svg-canvas {
  color: white;
}

.title-text {
  color: white;
  background-color: black;
  border-radius: 0.5em;
  font-size: 2em;
}

#modal-body .modal-example {
  text-align: center;
}

/*>>>>>>>>>>>>>> IMAGE STYLES <<<<<<<<<<<<<<*/

/*.slide-image {
  border: 1px solid black;
}*/

.add-slide-image {
  float: left;
  margin-left: 150px;
  z-index: 10;
  margin-top: 0.5em;
}

#slide-nav-row {
  margin-bottom: 0.75em;
}

.view-image p {
  margin-top: 0.5em;
}

/*>>>>>>>>>>>>>> HOMEPAGE <<<<<<<<<<<<<<<<<< */

#homepage-mkt {
  margin-bottom: 1em;
}

#mkt-text {
  text-align: center;
  background-color: rgba(255, 177, 0, .5);
  border-radius: 0.75em;
}

#beta-band {
  width: 101%;
  height: 1.75em;
  background-color: rgba(112, 128, 144, 0.35);
}

#beta-text {
  float: left;
  margin-top: 0.1em;
  margin-left: 11em;
  color: white;
}
#beta-span {
  float: left;
} 

#user-login-alert h4 {
  text-align: center;
  color: red;
}

#plug-text-title h4 {
  font-size: 1.5em;
  font-weight: bold;
}

#plug-sub {
  color: white;
}

#data-plug {
  color: white;
  font-size: 2.25em;
}

#simple, 
#clear, 
#present {
  font-size: 1.5em;
  color: white;
}

.data-vis-plug,
.data-source-plug {
  font-size: 1.5em;
}

.item {
  text-align: center;
}

#plug-the-show {
  background-color: rgba(20, 53, 173, .25);
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px;
  text-align: center;
  margin-right: 13em;
  margin-top: 0.15em;
}

#plug-the-show:hover {
  background-color: rgba(20, 53, 173, .5);
}

#plug-the-show a {
  color: black;
  text-align: center;
}

#plug-the-show a:hover {
  color: white;
}

#twit-promo {
  background-color: rgba(20, 53, 173, .25);
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px;
  text-align: center;
  margin-top: 0.15em;
}

#twit-promo:hover {
  background-color: rgba(20, 53, 173, .5);
}

#twit-promo a {
  color: black;
  text-align: center;
}

#twit-promo a:hover {
  color: white;
}

/* >>>>>>>>>>>>> CREATE CHART <<<<<<<<<<<<<<< */

#userFile-chart {
  margin-top: 0.25em;
  font-size: 1.5em;
}

#live-data-head {
  margin-top: 0.25em;
  font-size: 1.5em;
}

#bitly-data, 
#bitcoin-data,
#user-data {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 0.5em;
}

.chart-data-sources-types {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 0.5em;
}

#user-chart-options-row {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

#bitcoin-data-row {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

#coin-line-chart-nav {
  background-color: rgba(20, 53, 173, .5);
  border-radius: 0.5em;
  margin-right: 0.5em;
}

#coin-line-chart-nav:hover {
  background-color: rgba(20, 53, 173, 1);
  color: white;
}

#bitly-data-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}

#bitly-line-chart-nav,
#bitly-bubble-chart-nav {
  background-color: rgba(255, 177, 0, .5);
  border-radius: 0.5em;
}

#bitly-line-chart-nav:hover,
#bitly-bubble-chart-nav:hover {
  background-color: rgba(255, 177, 0, 1);
  color: white;
}

.hot-bits-div {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 0.5em;
  text-align: center;
  margin-bottom: 0.5em;
}

.hot-bits-div:hover {
  background-color: rgba(192, 192, 192, 1);
  color:white;
}


/* >>>>>>>>>>>>> END CREATE CHART <<<<<<<<<<<<<<< */

/*>>>>>>>>>>>> USER UPLOAD <<<<<<<<<<<<<<<<< */

#inputs {
  background-color: rgba(213, 0, 101, 0.5);
  border-radius: 0.5em;
  height: 30px;
}

#inputs:hover {
  background-color: rgba(213, 0, 101, 1);
  color: white;
}

#user-bub-inputs {
  background-color: rgba(213, 0, 101, 0.5);
  border-radius: 0.5em; 
  height: 30px;
}

#user-bub-inputs:hover {
  background-color: rgba(213, 0, 101, 1);
  color: white;
}

#files{
  float:left;
}

.input-text {
  float: left;
  margin-left: 4em;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0.3em;
  z-index: 100;
}

#render-slide-image {
  background-color: rgba(213, 0, 101, 0.5);
  margin-right: 0.5em;
  border-radius: 0.5em;
  height: 2.25em;
  text-align: center;
}

#render-slide-image:hover {
  background-color: rgba(213, 0, 101, 1);
  color: white; 
}

#add-image {
  background-color: rgba(213, 0, 101, 0.5);
  margin-right: 0.5em;
  border-radius: 0.5em;
  height: 2.25em; 
  text-align: center;
}

#img-inputs {
  height: 2.25em;
  text-align: center;
}

#add-image:hover {
  background-color: rgba(213, 0, 101, 1);
  color: white;
}

#user-data-line-nav {
  background-color: rgba(213, 0, 101, 0.5);
  margin-right: 0.5em;
  border-radius: 0.5em;
}

#user-data-line-nav:hover {
  background-color: rgba(213, 0, 101, 1);
  color: white;
}

#user-bubble-chart-nav {
  background-color: rgba(213, 0, 101, 0.5);
  margin-right: 0.5em;
  border-radius: 0.5em;
}

#user-bubble-chart-nav:hover {
  background-color: rgba(213, 0, 101, 1);
  color: white;
}

#user-line-instruct {
/*  background-color: rgba(192, 192, 192, 0.5);*/
  text-align: center;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.5em;
}

#user-bub-instruct {
  text-align: center;
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 0.5em;
}

#hotbit-line-chart {
  font-size: 1.5em;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 0.5em;
  height: 2.25em;
  text-align: center;
  margin-bottom: 1em;
}

#render-userFile {
  font-size: 1.5em;
  background-color: rgba(255, 177, 0, .5);
  border-radius: 0.5em;
  height: 2.25em; 
}

#render-userFile:hover {
  background-color: rgba(255, 177, 0, 1);
  color: white;
}

#render-userFile p {
  margin-top: 0.6em;
}

#render-user-bub-file {
  font-size: 1.5em;
  background-color: rgba(255, 177, 0, .5);
  border-radius: 0.5em;
  height: 2.25em; 
}

#render-user-bub-file:hover {
  background-color: rgba(255, 177, 0, 1);
  color: white;
}

#render-user-bub-file p {
  margin-top: 0.6em;
}

#upload-success-msg {
  font-size: 1.5em;
  border-radius: 0.5em;
  background-color: rgba(192, 192, 192, 0.5);
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: bold;
}

#upload-success-msg p {
  margin-top: 0.4em;
}

/*>>>>>>>>>>>>  END USER UPLOAD <<<<<<<<<<<<<<<<< */

/*>>>>>>>>>>>>>>>> USER MODULE <<<<<<<<<<<<<<<< */

#user {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 0.5em;
}

#user-login {
  font-family: 'Balthazar', serif;
  font-size: 1.25em;
}

.user-show {
  text-align: center;
  background-color: rgba(255, 177, 0, .5);
  border-radius: 0.25em;

}

.user-show:hover {
  color: white;
  background-color: rgba(255, 177, 0, 1);
}

#user-shows-list {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#user-shows {
margin-top: 1em;
margin-bottom: 1em;
}

#make-new-show {

}

.new-yum-show p {
  padding-top: 0.15em;
}

#show-maker {
  background-color: rgba(213, 0, 101, 0.5);
  text-align: center;
  border-radius: 0.5em;
  font-size: 1.25em;
  height: 1.5em;
  color: white;
}

#show-maker:hover {
  background-color: rgba(213, 0, 101, 1);
  color: black;
}

#user-row {
  margin: .5em 0;
}

#user-login {
/*  text-align: center;*/
/*  background-color: coral;*/
/*  background-color: rgba(255, 177, 0, 0.5);*/
  border-radius: 0.25em;
  margin-top: 0.15em;
  padding: 0.15em 0;
  font-size: 1.25em;
}

#all-user-shows {
  text-align: center;
/*  background-color: rgba(255, 177, 0, 0.5);*/
  border-radius: 0.25em;
  margin-top: 0.15em;
  padding: 0.15em 0;
  font-size: 1.25em;
}

#all-user-shows:hover {
  color: white;
  font-size: 1.5em;
}

#current-show {
  font-size: 3em;
/*  background-color: rgba(0, 0, 0, 0.65);*/
}

#yummy-brand {
  text-align: center;
  font-family: 'Spin Cycle OT';
  font-size: 2em;
  float: right;
  margin-top: 0.15em;
  padding: 0.15em 0;
}

.brand {
  float: right;
  margin-right: 0.75em;
}


/* >>>>>>> YUMMY SHOW PRESENTATION <<<<<<<<<<<< */

.the-show {
  height: 600px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 2em;
}

#show-titleSlide-title {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 0.5em;
}

#show-titleSlide-title h1 {
  font-size: 5em;
}

#show-titleSlide-bullet-one h2 {
  font-size: 3em;
}

#show-titleSlide-bullet-two h2 {
  font-size: 3em;
}

#show-titleSlide-bullet-one, 
#show-titleSlide-bullet-two, 
#show-titleSlide-bullet-three {
  text-align: center;
}

#describe-yummy {
  background-color: lightblue;
}

.title-slideTitle h1 {
  font-size: 5em; 
}

.preview-title-slideTitle h1 {
  font-size: 5em; 
}

.title-sub-title h2, 
.title-sub-sub h2 {
  font-size: 3em;
}

.slide-title {
  margin-top: 50px;
  margin-bottom: 75px;
}

#make-slide-options {
  text-align: center;
  margin-top: -25px;
  margin-bottom: 10px;
/*  background-color: rgba(192, 192, 192, 0.5);*/
  background-color: rgba(142, 235, 0, 0.25); 
  border-radius: .5em;
}

#make-slide-options h4 {
  font-size: 1.5em;
}

#slide-inputs {
  height: 600px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 2em;
}

#slide-inputs-chart, 
#slide-inputs-chart-bitly, 
#slide-inputs-chart-bitcoin {
  height: 600px;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 2em;
}

#preview-slide-inputs {
  height: 600px;
/*  background-color: linen;*/
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 2em;
}

#chart-control {
  height: 30px;
}

.hot-bits {
  font-size: small;
}

#marketing-text {
  background-color: whitesmoke;
  text-align: center;
  margin-bottom: 2em;
}

#call-2-action {
  background-color: lightslategray;
  text-align: center;
  margin-bottom: 2em;
}

.current-show-plug {
  font-size: 1.5em;
  color: purple; 
}

#show-row {
/*  border: 1px solid slategray;*/
}

.text-slide h2, .chart-slide h2 {
  text-shadow: -3px -3px 5px #ffffff;
}

#create-chart {
  background-color: silver;
  margin-top: 2em;
  margin-bottom: 2em;
}

#create-text {
  background-color: lightblue;
  margin-top: 2em;
  margin-bottom: 2em;
}

#text-bullets, #chart-bullets {
  text-align: center;
}

#bullet-prompts {
  border: 1px solid black;
}

.navbar {
  margin-top: 0.5em;
}

/*body .navbar .brand {
  font-family: 'Spin Cycle OT';
  font-size: 3em;
  margin: 0.2em 0 0.1em 0;
  float: right;
}*/


/*body #user .brand {
  font-family: 'Spin Cycle OT';
  font-size: 1.5em;*/
/*  margin: 0.2em 0 0.1em 0;*/
/*  text-align: right;*/
/*}*/

#slide-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

#create-show {
  margin-bottom: 2em;
}

.current-show {
  text-shadow: 2px 2px #ff0000;
}

#session-show {
  background-color: yellow;
}

#start-this-show {
  background-color: teal;
  color: white;
  float: right;
  text-align: right;
}

/* >>>>> TEXT SLIDES <<<<<<<<< */

.drag-slide-text:hover {
  border: 1px solid rgba(192, 192, 192, 0.75);
  color: white;
}

#slide-inputs .slide-text {
  height: 2.5em;
  width: 95%;
  text-align: center;
  font-size: 2em;
  padding-top: 0.6em;
  background-color: white;
  color: black;
  border-radius: 0.5em;
/*  box-shadow: 3px 3px 25px;*/
}

#slide-inputs .slide-text:hover {
/*  background-color: lightgray;*/
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  border: 1px solid white;
/*  box-shadow: inset 3px 3px 45px;*/
}

.slide-preview {
  margin-top: 0.5em;
  text-align: center;
  background-color: whitesmoke;
  height: 50em;
  border-radius: 1em;
}

.line-chart-options {
  text-align: center;
  background-color: silver;
}

.line-chart-data-sources {
  text-align: center;
  background-color: whitesmoke;
}

.make-start {
  text-align: center;
}

/* <<<<<<<< SLIDE ONE LIVE PREVIEW >>>>>>>>>>> */

#show-title h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 5em;
/*  margin-top: 50px;
  margin-bottom: 75px;*/
}

#show-title-notop h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 5em;
  margin-top: 200px;
  margin-bottom: 0.5em;
}

#show-slide-title h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 5em;
}

#show-slide-title-notop h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 5em;
  margin-top: 50px;
  margin-bottom: 75px;
}

#show-bullet-one h2, #show-bullet-two h2, #show-bullet-three h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}

.slide-one-title h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 5em;
}

.slide-one-title-notop h1 {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 5em;
  margin-top: 50px;
  margin-bottom: 75px;
}

.bullet-first-slide-one h2, .bullet-second-slide-one h2, .bullet-third-slide-one h2 {
  padding-top: 0.25em;
  padding-bottom: 0.1em;
  font-size: 3em;
}

/* >>>>>>>>>>>> SHOW CREATION NAV CONTROLS >>>>>>>>>>>> */

#create-show-input {
  width: 98%;
  height: 3em;
  text-align: center;
  font-size: 1.75em;
/*  color: black;*/
  color: rgba(0, 0, 0, 0.65);
/*  color: rgba(20, 53, 173, 0.5);*/
/*  box-shadow: 8px 8px 60px;*/
/*  box-shadow: -2px 2px 3px;*/
  border-radius: 0.4em; 
  border: 1px solid white; 
}

#create-show-input:hover {
/*  background-color: black;*/
  background-color: rgba(0, 0, 0, 0.65);
/*  background-color: rgba(20, 53, 173, 0.5);*/
  color: white;
  box-shadow: inset 2px -2px 3px;
  border: 1px solid white;
/*  border-radius: 1em;*/
}

#slide-controls {
  text-align: center;
  height: 2.25em;  
  background-color: rgba(255, 177, 0, .5);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 0.75em;
}

#slide-controls:hover {
  background-color: rgba(255, 177, 0, 1);
  color: white;
}

#slide-controls p {
  margin-top: 0.6em;
}

#create-chart-sub {
  text-align: center;
  height: 2.25em;  
  background-color: rgba(20, 53, 173, .5);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 0.75em;
}

#create-chart-sub:hover {
  background-color: rgba(20, 53, 173, 1);
  color: white;
}

#create-chart-sub p {
  margin-top: 0.6em;
}

#create-text-sub {
  text-align: center;
  height: 2.25em;  
  background-color: rgba(142, 235, 0, 0.5);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 0.75em;
}

#create-text-sub:hover {
  background-color: rgba(142, 235, 0, 1);
  color: white;
}

#create-text-sub p {
  margin-top: 0.6em;
}

#edit-current-slide {
  text-align: center;
  height: 2.25em;  
  background-color: mediumseagreen;
  font-size: 1.5em;
  color: white;
  margin-bottom: 0.5em;
  border-radius: 0.75em;
}

#edit-current-slide p {
  margin-top: 0.6em;
}

#save-bitly-slide, 
#save-bitcoin-slide, 
#save-userfile-slide, 
#save-bitly-slide-bubble,
#save-user-bub-slide {
  text-align: center;
  height: 2.25em;  
  background-color: rgba(255, 177, 0, .5);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  border-radius: 0.75em;
}

#save-bitly-slide:hover, 
#save-bitcoin-slide:hover, 
#save-userfile-slide:hover, 
#save-bitly-slide-bubble:hover,
#save-user-bub-slide:hover {
  background-color: rgba(255, 177, 0, 1);
  color: white;
}

#save-bitly-slide p, 
#save-bitcoin-slide p, 
#save-userfile-slide p,
#save-bitly-slide-bubble p,
#save-user-bub-slide p {
  margin-top: 0.6em;
}

.saved-slide {
  color: white;
  background-color: rgba(213, 0, 101, 0.5);
  border-radius: 0.25em;
}

.saved-slide:hover {
  color: black;
  background-color: rgba(213, 0, 101, 1);
}

#slide-links p {
  margin-top: 0.25em;
}

/* >>>>>>>>>>>>>>> END OF CREATE SHOW NAV <<<<<<<<<<<<<<<<< */

.input-action-call {
  text-align: center;
  font-style: italic;
}

.make-second-slide {
  height: 1em;  
  background-color: gray;
}


.saved-slide-preview {
  text-align: center;
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 3em;
  height: 600px;
}

.slide-inputs .slide-one-title {
  font-size: 1em;
  text-align: center;
}

.title-slide-title {
  margin-top: 200px;
  margin-bottom: 2em;
}

#preview-slide-inputs .preview-title-slideTitle {
  margin-top: 200px;
  margin-bottom: 2em;
}

.slide-inputs .title-slide-title {
  font-size: 1em;
  text-align: center;
}

#bullet-one, #bullet-two, #bullet-three {
  margin-top: 1.5em;
/*  z-index: 100;*/
}

/*.slide-title, 
.bullet-one, 
.bullet-two, 
.bullet-three {
  z-index: 100;
}*/

#title-sub-bullet:hover,
#title-title:hover,
#title-sub-sub:hover {
  color:white;
  z-index: 100;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    background-color: teal;
    margin-right: 2px;
}

/*.chart rect {
  fill: steelblue;
  stroke: white;
}*/

.chart {
  margin-left: 200px;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#container {
    width: 1000px;
    margin: 0 auto;    
}

.price {
    cursor: pointer;
    padding: 5px;
}

.price .spot_price {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.price .amount {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .currency {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.price .date {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 1em;
    font-weight: italic;
    color: #777;
}

/*body {
  font: 10px sans-serif;
}*/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: black;
  stroke: red;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
/* CSS declarations go here */

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 60px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: -0.85em;
      padding-top: 25px;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: rgba(142, 235, 0, 0.75);
      color: black;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 400px;
    }

    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 400px;
      opacity: 0.70;
    }

    .carousel-caption {
/*      background-color: #000000 transparent;*/
      background-color: rgba(0, 0, 0, 0.75);
      position: static;
      max-width: 850px;
      padding: 20px 20px 30px 20px;
      margin-top: 10px;
      margin-left: 80px;
      margin-right: 80px;
      border-radius: 20px;
    }

    .carousel-caption h1,
    .carousel-caption h2,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }

    .carousel-caption h1,
    .carousel-caption h2 {
/*      color: rgba(213, 0, 101, 0.5);*/
/*      color: rgba(142, 235, 0, 0.5);*/
    color: white;
    }


    .carousel-caption h1 {
      font-family: arial; 
      /*font-family: 'Rock Salt', cursive;*/
      margin-bottom: 10px;
    }

    .carousel-caption .lead {
      font-family: 'Metrophobic', sans-serif;
      padding-top: 10px;
      color: white;
    }

    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 400px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 35%;
        margin: 0 auto 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 225px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 50px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
